{% extends 'mailing/base.html' %}
{% load i18n %}
{% block content %}

<div class="row g-5 mt-3">
    <div class="col-3"></div>
    <div class="card col-6 shadow p-3 bg-body-tertiary rounded">
        <div class="card-header text-bg-light">
            <h5 class="lh-1 my-1">Password changed</h5>
        </div>
        <div class="card-body">
            <p>
                You can now go to the
                <a href="{% url 'users:login' %}">Log IN</a>.
            </p>
        </div>
    </div>
    <div class="col-4"></div>
</div>
{% endblock %}
